<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conn" connectionString="Data Source=windows\sqlexpress;Initial Catalog=PaperSellMng;Integrated Security=True" />
        <add name="ProjectPaperSellManager.Properties.Settings.PaperSellMngConnectionString"
            connectionString="Data Source=windows\sqlexpress;Initial Catalog=PaperSellMng;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>